<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
      The <a href="http://psiep.com/">Psi Epsilon Samurai</a>
       are a brotherhood committed to building strong bonds with Christian brothers. This is a website for our organization.
</p>