<footer class="footer">
  <small>
    <a href="http://psiep.com/">Psi Epsilon</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/groups/470962779622438/">News</a></li>
    </ul>
  </nav>
</footer>